@charset "UTF-8";

@font-face{
  font-family:Ubuntu;
  font-style:normal;
  font-weight:normal;
  src:url('fonts/Ubuntu-Regular.ttf');
}
@font-face{
  font-family:Ubuntu;
  font-style:italic;
  font-weight:normal;
  src:url('fonts/Ubuntu-Italic.ttf');
}
@font-face{
  font-family:Ubuntu;
  font-style:normal;
  font-weight:bold;
  src:url('fonts/Ubuntu-Bold.ttf');
}

body { 
font-size:1.2em;
font-family: Ubuntu, sans-serif;
}
body.overview {
  background-color: #404040;
}
body.category, body.detail {
  background-color: inherit;
}

body#modeling_dog {
  background-color: #ffffff;
}
body#about a {
  text-decoration:underline;
}

h1, h2 {
  font-weight:normal;
}

/*@media screen and (min-width:30rem) {
  body {
    font-size: 1em;
  }
}
*/

.start h1 {
  padding-bottom:0;
  margin-bottom:1rem;
  margin-top:1rem;
  text-align:left;

}
body.start h1, body.start h1 a, body.overview > main > p {
  color:#EFEFEF;
}
body.detail h1, body.category h1 {
/*  position: absolute;
  top: 1em;*/
  margin:0;
  font-size: 1em;
  text-align: right;
}

h1 {
  text-align:center;
}
h2 {
  text-align:left;
  margin-top:0.8em;
  /*font-size:80%;*/
}
main > p {
  text-align:left;
}
body.category > main > p, body.detail > main > p {
  color:inherit;
}
.cursive {
  font-size:92%;
}

main {
/*  background-color: #f5f;*/
  display:flex;
  min-height:90vh;
  flex-direction: column;
/*  align-items:center;*/
  justify-content:center;
  min-width: 300px;
  max-width: 27rem;
  margin-left:auto;
  margin-right:auto;
}
ul.overview {
  width:100%;
  list-style:none;
  display: grid;
  grid-template-columns: repeat(auto-fill, 9rem);
  grid-gap: 0;
  justify-content:center;
  margin: 0;
  padding:0;
}

ul.overview + ul.overview {
  margin-top:2rem;
}

ul.overview > li {
  min-width: 9rem;
  height: 9rem;
  text-indent:0;
  text-align:center;
  margin:0;
/*  display: flex;
  align-content:center;
  align-items:center;
  justify-content:space-evenly;
  flex-flow:column;*/
  width:auto;
  padding:0;
}

@media screen and (min-width:28rem) {
  ul.overview.even {
    grid-template-columns: repeat(auto-fill, 13rem);
  }
  ul.overview.even > li {
    width: 13rem;
    height: 13rem;
  }
  ul.overview.even > li > p img{
    max-width: 12.5rem;
  }


}


ul.overview > li > p {
  text-align:left;
}
li.span2 {
  grid-column: auto / span 2;
}
ul.overview > li.text {
  text-align:left;
  hyphens:auto;
}
ul.overview > li > p {
  margin:0;
  padding:0;
}
ul.overview > li > p img{
  max-width: 8.5rem;
}

a {
  text-decoration:none
}
.fineprint {
  text-align: right;
  font-size:60%;
}

.tobi__slider__slide__content > figure > figcaption {
  bottom: inherit;
  line-height:1.2;
}
.tobi__slider__slide__content > figure {
  max-height: 100vh;
}
@media screen and (max-height: 630px) {
  .tobi__slider__slide__content > figure > figcaption {
    bottom: 0;
    opacity:0.8 !important;
    line-height:1.1;
    font-size:0.9rem;
  }
}

summary, details { 
  display: block; 
}

details { 
  text-align:right;
  font-size: 0.85em;
  overflow-y:visible;
  height:2em;
  margin-left:-2%;
  width:103%;
}
details ul {
  background-color:white;
  opacity:0.95;
  text-align:right;
  list-style:none;
  margin-left:0;
  padding-left:0;
  max-width:100%;
}

a {
  color:#404040;
}
.start a {
  color:white;
}
a:hover, details li {
  color:#999;
}

details > ul {
  margin-right:0.5rem;
  padding-right:0.2rem;
  padding-bottom:0.5rem;
  padding-top:0.5rem;
  position:relative;
  top:-0.2rem;

}
details summary::before { 
  content:"\2261"; 
  font-size: 2em;
  color:#404040;
  position: relative;
  left: -10px;
  top: 2px;
}
details summary {
  outline:none;
}
details summary:hover {
  cursor:pointer;
}
details summary::-webkit-details-marker {
  display:none;
}
